.landing-page-img{
  width: 100%;
  height: auto;  
}
.landing-page-img-container{
  text-align: center;
}
.text-over-img{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-size: 2rem;
}
.landing-nav{
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  align-items: center;
}
.lander{
  font-size: 8.4rem;
  width: 20%;
  margin: auto;
  word-wrap: break-word;
  text-align: center;
}

.landing-cover{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.lander-0{
  width: 40%;
  text-align: center;
}
.lander-2{
  width: 40%;
  text-align: center;
}
.lander{
  backdrop-filter: blur(2px);

}

.primary-btn{
  padding: 1rem;
  width: 15%;
  border-radius: 15px 15px 15px 15px;
  font-size: 1rem;
  border: 1px solid black;
  background-color: black;
  color: white!important;
  cursor: pointer!important;
  transition: all ease-in-out 0.3s;
}
.primary-btn:hover{  
  border: 1px solid white;
  background-color: black;
  color: white!important;
}
.secondary-btn{
  padding: 1rem;
  width: 15%;
  border-radius: 15px 15px 15px 15px;
  font-size: 1rem;
  background-color: white;
  color: black!important;
  cursor: pointer;
}
.landing-btn-cover{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.main{
  margin-top: 0rem;
  margin-bottom: 0;
}

@media screen and (max-width:1000px){
  .primary-btn{
    width: 20%;
  }
}
@media screen and (max-width:800px){
  .primary-btn{
    width: 25%;
  }
}
@media screen and (max-width:500px){
  .primary-btn{
    width: 30vw;
  }
}